//RESETS
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-left: 15px;
}

button {
  border: none;
  background-color: inherit;
}

//VARIABLES
$color-darkBlue: rgb(18, 98, 145);
$color-lightBlue: #c0e0de;
$color-whatsapp: #25d366;
$font-text: "Montserrat", sans-serif;

//UTILITIES
.bold {
  font-weight: bold;
}

//GENERAL
body {
  font-family: $font-text;
}

h3 {
  margin: 20px 0px 10px;
  text-transform: uppercase;
}

//SITE
.site {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e8f3f2;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23126291' fill-opacity='0.15'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

//MAIN
.main__container {
  width: 80%;
  height: 95%;

  @media (max-width: 950px) {
    width: 100%;
  }
}

//HEADER
.header {
  width: 100%;
  height: 140px;
  color: #fff;
  background-color: $color-darkBlue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__languages {
    font-weight: 200;
  }

  @media (max-width: 570px) {
    height: 180px;
  }

  @media (max-width: 400px) {
    font-size: 13px;
  }
}

//ABOUT
.about {
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  @media (max-width: 1000px) {
    position: relative;
    overflow: hidden;
    padding: 10px 0;
  }

  &__img_container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-right: 1px solid $color-lightBlue;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;

    @media (max-width: 1000px) {
      width: auto;
      position: absolute;
      right: 20px;
      top: 20px;
      padding: 0;
      border: none;
    }

    @media (max-width: 570px) {
      right: 0;
      left: 0;
      top: 5px;
    }
  }

  &__photo {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;

    @media (max-width: 1000px) {
      width: 200px;
      height: 150px;
      border-radius: 20px;
    }
    @media (max-width: 570px) {
      width: 150px;
      border-radius: 50%;
    }
  }

  &__info {
    padding: 20px;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid $color-lightBlue;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

    @media (max-width: 1000px) {
      width: 100%;
    }

    @media (max-width: 570px) {
      padding-top: 150px;
    }
  }

  &__name {
    margin-bottom: 10px;
  }

  &__phone {
    font-size: 16px;
  }

  &__heading::first-letter {
    font-size: 2rem;
    margin-right: 0.1rem;
    color: $color-darkBlue;
  }

  &__me {
    line-height: 25px;
    font-size: 17px;
    word-spacing: 2px;
    text-align: justify;
  }
}

.whatsapp {
  color: $color-whatsapp;
  margin-right: 5px;
}

.mail {
  color: red;
  margin-right: 5px;
  margin-bottom: 10px;
}

//SECTION

.section {
  width: 100%;
  height: 650px;
  background-color: #c0e0de;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 650px) {
    height: 100%;
    padding: 15px 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 300px);
    gap: 15px;

    @media (max-width: 945px) {
      grid-template-columns: repeat(2, 300px);
    }
    @media (max-width: 650px) {
      grid-template-columns: 90vw;
    }
  }
  &__box {
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);

    &:nth-child(1) {
      border-top-left-radius: 100px;
      border-bottom-right-radius: 100px;
      //   text-align: end;
    }
    &:nth-child(2) {
      border-top-right-radius: 100px;
      border-bottom-left-radius: 100px;
    }
    &:nth-child(3) {
      border-top-right-radius: 100px;
      border-bottom-left-radius: 100px;

      @media (max-width: 650px) {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
      }
    }
    &:nth-child(4) {
      border-top-left-radius: 100px;
      border-bottom-right-radius: 100px;

      @media (max-width: 650px) {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
      }
    }
  }
  &__list_bullet {
    margin-bottom: 6px;
    color: rgba(0, 0, 0, 0.8);
  }
  &__list_bullet::first-line {
    color: $color-darkBlue;
    font-weight: bold;
  }

  &__header::first-letter {
    font-size: rem;
    margin-top: -0.4rem;
    margin-right: 0.1rem;
    float: left;
    border: 3px solid $color-darkBlue;
    border-radius: 10px;
    padding: 0.2em 0.15em;
    color: $color-darkBlue;
  }
  &__description {
    margin: 20px 0 10px;
  }
}

//FOOTER
.footer {
  background-color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;

  &__networks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
  }
  &__icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-darkBlue;
    font-size: 35px;
    margin: 5px 0;
  }
  &__text {
    text-align: center;
    margin-top: -10px;
    font-size: 16px;
    color: $color-darkBlue;
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
  }
}
